

.card {
  border-radius: var(--space-2x);
  background: #111111;
  display: flex;
  flex-direction: column;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#111111, #111111), linear-gradient(to right, #333333, #333333);
  padding: 1px;
  margin-bottom: 30px;
  cursor: pointer;
}

.cardContainer {
  padding: 1rem;
}

.card:hover,
.card:focus {
  outline: none;
  background-image: linear-gradient(#111111, #111111),
    linear-gradient(to right, var(--brand), var(--brand));
}

@media (min-width: 768px) {
  .card {
    margin:1rem;
  }
}

.cardBody {
  padding: var(--space-4x);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.image {

  border-radius: 1000px;
}

.name {
  font-weight: bold;
  color: #f1f1f1;
  font-size: 24px;
  margin: 0;
  line-height: 1.4;
}

.description {
  margin-top: var(--space);
  margin-bottom: 0;
  line-height: 1.4;
}
